:root {
    --dark-grey: #333333;
    --light-grey: #555;
    --border-grey: #CFCFCF;
}
  
* {
    font-family: Roboto;
    box-sizing: border-box;
}

body {
    background: blue;
    height: 500px;
}

.menu {
    margin: 0 auto;
    width: 70rem;
    background: #F7F6F5;
    border-top: 1px solid var(--border-grey);
}

.menuMain {
    width: 90%;
    margin: 0 auto;
}

.menuMainItem {
    display: inline-block;
    padding: 0.5rem 2rem;
    border-bottom: 1px solid var(--border-grey);
}

/* These were removed at some point...
.menuMainItem:first-child:hover {
    border-left: none;
    margin-left: 0;
}
  
.menuMainItem:last-child:hover {
    border-right: none;
    margin-right: 0;
}
*/

.menuMainItem:hover {
    background: white;
    border-bottom: none;
    border-right: 1px solid #CFCFCF;
    border-left: 1px solid #CFCFCF;
    margin: 0 -1px;
  }
  
.menuMainItemCurrent .menuMainItemLink {
    color: var(--dark-grey);
    border-bottom: 2px solid #333;
    padding-bottom: 0.3rem;
}

.menuMainItemLink {
    text-decoration: none;
    color: var(--light-grey);
    font-family: Roboto;
    font-size: 0.9rem;
    font-weight: 800;
}

.menuMainItemLink:hover {
    text-decoration: underline;
    color: #1C60BB;
}

.menuSub {
    height: 18rem;
    background: white;
    display: none;
}

.menuSubCats {
    vertical-align: top;
    display: inline-block;
    width: calc(40% - 1rem - 2px);
    padding: 0.8rem;
    margin-left: 1rem;   
}

.menuSubVisual {
    display: inline-block;
    width: calc(60% - 2px);
    padding: 0.5rem;
    height: 100%;
  }
  
.menuSubVisualImg {
    width: 100%;
    height: 100%;
}
  
.menuSubCatsCat {
    display: inline-block;
    width: calc(50% - 2px);
    vertical-align: top;
}
  
.menuSubCatsHeader {
    font-size: 0.9rem;
    border-bottom: 1px solid var(--light-grey);
    margin-right: 1rem;
    padding-bottom: 1rem;
}
  
.menuSubCatsItems {
    list-style: none;
    padding: 0;
    line-height: 1.6rem;
    color: var(--light-grey);
}

.menuSubCatsItemLink {
    text-decoration: none;
    color: var(--light-grey);
    font-size: 0.8rem;
    font-weight: 800;
}
  
.menuSubCatsItemLink:hover {
    text-decoration: underline;
}